h1 {
    text-align: center;
}

.display{
    background-color: #333;
    color: #fff;
    width: 200px;
}

.display {
    margin: 0 auto;
    text-align: right;
    padding: 8px 16px;
}

.display__wrapper {
    margin-bottom: 24px;
}

.button__wrapper {
    text-align: center;
}

.startButton,
.stopButton {
    padding: 8px 24px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.startButton:hover,
.stopButton:hover {
    background-color: #fff;
}

.log {
 text-align: center;   
}